/* TechnicalArchitecture.module.css */
.mainContainer {
    padding: 2rem;
    
}

.contentContainer {
    text-align: center;
}

.imageContainer {
    width: 100%; /* Ensures the container is responsive */
    max-width: 100%; /* Prevents the image from growing beyond its container */
    overflow: hidden; /* Optional: To crop the image if it exceeds its bounds */
}

.imageContainer img{
    border-radius: 20px;
}


