.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M3 250L253 0L356.5 0L106.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M259.6 250L509.6 0L848.6 0L598.6 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M498.20000000000005 250L748.2 0L961.2 0L711.2 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M747.8000000000001 250L997.8000000000001 0L1273.8000000000002 0L1023.8000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M1426 250L1176 0L874.5 0L1124.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M1183.4 250L933.4000000000001 0L828.4000000000001 0L1078.4 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M946.8 250L696.8 0L462.79999999999995 0L712.8 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M713.1999999999999 250L463.19999999999993 0L298.19999999999993 0L548.1999999999999 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3cpath d='M1302.8055124550115 250L1440 112.8055124550115L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1004%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L137.1944875449885 250L 0 112.8055124550115z' fill='url(%26quot%3b%23SvgjsLinearGradient1005%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;
}

.contentContainer{
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

.upperContainer{
    color: var(--light);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.upperLeft{
    flex: 1;
    max-width: 400px;
    padding-left: 50px;

}

.upperLeft h2{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.upperRight{
    flex: 1;
    max-width: 700px;
}

.upperRight p{
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
}


.lowerContainer{
    width: 100%;
    color: var(--light);
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 2rem; /* Space between cards */
    justify-content: center; /* Center alignment */
    align-items: center; /* Align items properly */
    padding: 2rem;
}

.cardItem {
    color: var(--light);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 2rem; /* Inner spacing */
    text-align: left; /* Center text */
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
    width: 100%; /* Ensure full width of grid cell */
    height: 300px; /* Large fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 0.5px solid var(--light-gray);
    border-radius: 10px;
}

.cardItem:hover {
    transform: scale(1.05); /* Slight hover zoom effect */
}

.cardItem h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.cardItem p {
    font-size: 1.2rem;
}
