/* PerksandBenefits.module.css */

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 60px 20px;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text for contrast */
}

.contentContainer {
    max-width: 1240px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}

.heading h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-gray); /* Lighter text for subheadings */
    margin-bottom: 5px;
}

.heading h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--light); /* White for main headings */
    margin-bottom: 40px;
}

.perkCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* gap: 30px; */
    justify-content: center;
    max-width: 1200px;
}

.cardItem {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #e0e0e0; /* Ensuring text inside cards is readable */
    border-right: 1px solid var(--light-gray);
    /* border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray); */

}

/* .cardItem:last-child{
    border-right: 1px solid var(--light-gray);
} */

.cardItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.cardItem:last-child{
    border: none;
}
.icon{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(145deg, #facc15, #f97316); */
    background: #E6DADA;
    background: linear-gradient(
      to right,
      #E6DADA,#274046
    );
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.icon img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    /* filter: brightness(0) invert(1); Ensure icons are visible in dark theme */
}

.textWrapper h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff; /* White text for the perk titles */
    margin-top: 15px;
}

@media (max-width: 768px) {
    .perkCards {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .heading h2 {
        font-size: 2rem;
    }
}
