.mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
    gap: 2rem;
    padding: 40px 20px;
}

.keyVerticals {
    min-height: 100vh;
    padding: 80px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1rem;
    width: 100%;
   
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--dark);
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.4;
}

.scrollContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    overflow-x: auto;
    padding: 20px 20px;
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;
    max-width: 700px;
}

.scrollContainer::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.vertical {
    width: 400px;
    height: 200px;
    background: linear-gradient(135deg, #fff, #e9ecef);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    scroll-snap-align: start;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vertical:hover {
    transform: scale(1.05);
    background-color: #f1f1f1;
}

.iconAndTitle {
    display: flex;
    align-items: center;
    gap: 20px;
}

.iconWrapper {
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    flex-shrink: 0;
}

.vertical:hover .iconWrapper {
    background-color: #333;
    color: var(--blue);
    transform: scale(1.1);
}

.verticalTitle {
    font-size: 1.2rem;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
    margin: 0;
}

.description {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    transition: opacity 0.3s ease;
}

.vertical:hover .description {
    opacity: 1;
}

@media (max-width: 768px) {
    .mainContainer{
        flex-direction: column;
        gap: 0.5rem;
    }
    .title {
        font-size: 2rem;
    }

    .scrollContainer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .vertical {
        width: 100%;
    }
}

.progressBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    position: relative;
    gap: 10px;
}

.progressWrapper {
    flex: 1;
    height: 12px;
    background-color: #e9ecef;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.progressBar {
    height: 100%;
    background-color: var(--blue);
    transition: width 0.3s ease-in-out;
}

.scrollIcon {
    font-size: 24px;
    color: #666;
    cursor: pointer;
    transition: color 0.3s ease;
}

.scrollIcon:hover {
    color: var(--blue);
}

