/* Container Style */
.container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

/* Content Container Style */
.contentContainer {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    margin: 0 auto;
}

/* Left Section - Text */
.left {
    flex: 1;
    width: 20%;
    padding-right: 80px;
}

.heading {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    color: #333;
    text-align: justify;
    letter-spacing: 0.5px;
}

/* Right Section - Numbers Grid */
.right {
    flex: 1;
    width: 80%;
}

.numberGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.numberItem {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.numberItem h4 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    margin-top: 15px;
}

.numberItem:hover {
    transform: translateY(-7px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    background-color: #e8f7ff;
}

.icon {
    font-size: 3rem;
    color: var(--blue);
    margin-bottom: 12px;
    transition: all 0.3s ease;
}

.icon:hover {
    color: #00b3cc;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .contentContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .left {
        width: 100%;
        padding-right: 0;
    }
    .right {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .numberGrid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .heading {
        font-size: 1.6rem;
        text-align: center;
        line-height: 1.4;
    }


}

@media (max-width: 480px) {
    .heading {
        font-size: 1.2rem;
    }
    .numberItem {
        padding: 20px;
    }

    .numberItem h4 {
      font-size: 1rem;
  }
  .icon {
    font-size: 2rem;
   
}

}
