 .heroContainer {
   width: 100%;
   background-color: #ffffff;
   min-height: 100vh;
   padding: 30px;
   border-radius: 20px;
 }

 .heroContentArea {
   position: relative;
   width: 100%;
   background: linear-gradient(207deg, rgba(238, 204, 255, 1) 0%, rgba(150, 222, 247, 1) 80%);
   min-height: 90vh;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 2rem;
   overflow: hidden;
 }

 .heroImage {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   height: 100%;
   z-index: 1;
   object-fit: cover;
   opacity: 100;
 }

 .heroContentAreaText {
   position: relative;
   z-index: 2;
   max-width: 1240px;
   width: 100%;
   margin-inline: auto;
   text-align: left;
 }

 .heroContentArea h1 {
   font-size: 4rem;
   font-weight: 700;
   line-height: 1.2;
 }

 .heroContentArea button {
   cursor: pointer;
   margin-top: 20px;
   font-size: 1.5rem;
   padding: 10px 20px;
   background-color: var(--dark);
   color: var(--light);
   border: none;
   border-radius: 20px;
   transition: background-color 0.3s, transform 0.2s;
 }

 .heroContentArea button:hover {
   /* background-color: var(--blue); */
   transform: scale(1.05);
   color: var(--blue);
   border: 1px solid var(--dark);

 }

 @media (max-width: 1024px) {
   .heroContentAreaText {
     padding-left: 1.5rem;
   }

   .heroContentArea h1 {
     font-size: 3rem;
   }

   .heroContentArea button {
     font-size: 1.3rem;
   }
 }

 @media (max-width: 768px) {
   .heroContainer {
     height: 100vh;
   }

   .heroContentArea {
     padding: 2rem 1rem;
   }

   .heroContentAreaText {
     padding-left: 1rem;
     text-align: center;
   }

   .heroContentArea h1 {
     font-size: 2.5rem;
   }

   .heroContentArea button {
     font-size: 1.2rem;
     padding: 8px 16px;
   }
 }

 @media (max-width: 480px) {

   .heroContentArea {
     padding: 1rem;
     min-height: 50vh;
   }

   .heroContentAreaText {
     text-align: center;
     padding: 0;
   }

   .heroContentArea h1 {
     font-size: 2rem;
   }

   .heroContentArea button {
     font-size: 1rem;
     padding: 6px 12px;
   }
 }















 /* DArk Background Theme */


 /* .heroSection {
    position: relative;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    padding: 0 5%;
    overflow: hidden;
    position: relative;
  }
  
  .imageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: backgroundMove 10s ease-in-out infinite;
  }
  
  @keyframes backgroundMove {
    0% {
      transform: scale(1) translateX(0);
    }
    50% {
      transform: scale(1.05) ;
    }
    100% {
      transform: scale(1) translateX(0);
    }
  }
  
  

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     
    z-index: 2;
}

  
  .heroContent {
    position: relative;
    z-index: 3;
    max-width: 800px;
    color: white;
    text-align: left;
  }
  
  .heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: #fff; 
    animation: fadeIn 1.5s ease-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #c0c0c0; 
    animation: fadeIn 2s ease-out;
  }
  
  .ctaButton {
    background-color: #000; 
    color: #fff;
    border: 2px solid var(--blue);
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .ctaButtonHovered {
    background-color: var(--blue);
    transform: translateY(-5px);
    color: #000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    .heroSection{
        min-height: 50vh;
    }
    .heroContent {
      text-align: left;
      max-width: 80%;
    }
  
    .heading {
      font-size: 1.85rem;
    }
    
    .description{
        font-size: 1rem;
    }
  
    .ctaButton {
      padding: 0.8rem 1.8rem;
      font-size: 1rem;
    }
  } 
   */