.container {
  max-width: 768px;
  margin: 0 auto;
  /* padding: 1rem; */
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  color: #6b7280; /* muted gray */
  margin-bottom: 1.5rem;
}

.metaInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.875rem;
  color: #6b7280;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.metaItem {
  display: flex;
  align-items: center;
}

.iconSmall {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.iconTiny {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.25rem;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.badgeLink {
  text-decoration: none;
}

.badge {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  transition: background-color 0.3s;
}

.badge:hover {
  background-color: #e0f2fe; /* light blue hover */
}

/* Responsive Design */

/* Tablets (>= 640px) */
@media (min-width: 640px) {
  .container {
    padding: 0 2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .metaInfo {
    font-size: 1rem;
  }

  .badge {
    font-size: 1rem;
  }
}

/* Desktop (>= 1024px) */
@media (min-width: 1024px) {
  .container {
    max-width: 900px;
    /* padding: 3rem; */
  }

  .title {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .metaInfo {
    font-size: 1rem;
  }

  .badge {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }
}
